/* Website template by freewebsitetemplates.com */

body {
	background: url(../images/bg-body.gif) repeat center top;
	color: #504e4f;/*807e7f 504e4f*/
	font-family: 'SortsMillGoudyRegular';
	font-size: 14px;
	margin: 0;
	min-width: 950px;
	padding: 0;
}

a {
	outline: none;
}

img {
	border: 0;
}

img#contact_img {
    margin-left:-5px;
}

p a {
	color: #504e4f; /*807e7f*/
}

iframe {
    display: block;
    width: 800px;/*889px;*/
    height: 600px;/*667px;*/
    margin:0 auto;
    /*-webkit-transform:scale(0.5);-moz-transform-scale(0.5);*/
}

#iframe_coffee{
    display: block;
    width: 750px;/*889px;*/
    height: 750px;/*667px;*/
    margin:0 auto;
    /*-webkit-transform:scale(0.5);-moz-transform-scale(0.5);*/
}

#iframe_theRoom {
    display: block;
    width: 840px;
    height: 650px;
    margin:0 130px;
    /*-webkit-transform:scale(0.5);-moz-transform-scale(0.5);*/
}

#page {
	background: url(../images/top-bar.gif) repeat-x center top;
	width: 100%;
}

#arcadepage {
	background: url(../images/top-bar.gif) repeat-x center top;
	width: 100%;
}

#arcadeheader {
	background: url(../images/bg-header-expanded.jpg) no-repeat center top;
	height: 123px;
	margin: 0 auto;
	overflow: hidden;
	width: 1100px;
}

#header {
	background: url(../images/bg-header.jpg) no-repeat center top;
	height: 123px;
	margin: 0 auto;
	overflow: hidden;
	width: 950px;
}

#arcadeheader div,
#header div {
	float: left;
	height: 123px;
	padding: 0 0 0 35px;
	width: 230px;
}

#arcadeheader div img,
#header div img {
	margin-top: 35px;
}

#arcadeheader ul{
    float: right;
	height: 51px;
	list-style: none;
	margin: 40px 0 0;
	padding: 0;
}
#header ul {
	float: left;
	height: 51px;
	list-style: none;
	margin: 40px 0 0;
	padding: 0;
}

#arcadeheader ul li,
#header ul li {
	float: left;
	padding: 0 40px;
}

#arcadeheader ul li a,
#header ul li a {
	color: #105012; /*831a3b*/
	display: block;
	line-height: 51px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px #77df68; /*ff97b8*/
}

#arcadeheader ul li.current a,
#arcadeheader ul li.current a:hover,
#header ul li.current a,
#header ul li a:hover {
	color: #f5fff5;/*f5fff5*/
	text-shadow: 0 1px #00a100; /*d5426f*/ /*7aff7a*/
}

#arcade {
	background: url(../images/bg-page-expanded.jpg) repeat-y ;
    /*background-size: auto auto;*/
	margin: -1px auto;
	min-height: 800px;
	overflow: hidden;
	padding: 0px 0px 0px 0;
	width: 1100px;
}

#arcade_theRoom {
	background: url(../images/bg-page-expanded.jpg) repeat-y ;
    /*background-size: auto auto;*/
	margin: -20px 133px;
	min-height: 700px;
	overflow: visible;
	padding: 0px 0px 0px 0;
	width: 1200px;
}

#arcade div{
	margin-left:25px;
	width: 1000px;
}

#body {
	background: url(../images/bg-page.gif) repeat-y;
	margin: -1px auto;
	min-height: 1000px;
	overflow: hidden;
	padding: 22px 25px 40px 0;
	width: 925px;
}


#body div#aside {
	float: left;
	position: relative;
	width: 665px;
}

#body div#aside div {
	/*background: url(../images/frame.gif) no-repeat;*/
	height: 291px;
	margin: 0 0 0 35px;
	width: 608px;
}

#body div#aside div#games{
    background: none;
	height: auto;
    margin: 0;
}

#body div#aside div#games div{
    background: none;
	height: auto;
    margin: 0;
    float:left;
}

#body div#aside div#games span{
    position: relative;
}


#body div#aside div#games h2 a{
    /*background: none;*/
    margin-left: 0;
    float: none;
    width: auto;
}

#body div#aside div#games a{
    background: none;
    margin-left: 25px;
    float: left;
    width: 135px;
}

#body div#aside div#games p{
    margin-left: 170px; 
}

#body div#aside div#games ul li{
    overflow:hidden;
    /*height:300;*/
}

#body div#aside div#games a.readmore{
    margin-left: 170px;
}

#body div#aside div#section ul li {
	margin: 0 0 30px;
	overflow: hidden;
    height: auto;
}

#body div#aside div#section ul li h2{
	background: none;
	height: auto;
}

#body div#aside div#section ul {

}

#body div#aside div#section ul li {
	margin: 0 0 30px;
	overflow: hidden;
}


#body div#aside div#section ul li span {
	background: none;
	display: block;
	float: left;
	height: 145px;
	margin: 0;
	position: static;
	width: 145px;
}

#body div#aside div#games img,
#body div#aside div#section ul li span img {
	border: 1px solid #BEC3BE;/*C2C3BE*/
    height: 145px;
    width:  145px;
}

#body div#aside div#section ul li div {
	background: none;
	float: left;
	height: auto;
	margin: 0 0 0 25px;
	width: 430px;
}

#body div#aside div#section ul li div h5 {
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 5px;
}

#body div#aside div#section ul li div h5 a {
	color: #5acd5a;/*cd5a81*/
}

#body div#aside div#section ul li div p {
	margin: 0;
	padding: 0;
}

#body div#aside div img {
	margin: 1px 3px 3px;
}

#body div#aside h1 {
	font-size: 30px;
	font-weight: normal;
	margin: 25px 0 10px;
}

#body div#aside h4 {
	background: url(../images/bg-content-heading2.jpg) no-repeat;
	color: #fdfdfd;
	font-size: 20px;
	font-weight: normal;
	height: 46px;
	line-height: 39px;
	margin: 0px 0 18px;
	text-shadow: 0 1px #9e9e9e;
	width: 643px;
}

#body div#aside h3 {
	font-size: 20px;
	font-weight: normal;
	margin: 20px 0 0;
}

#arcade_theRoom h2{
	padding: 0px 22px 0px 35px;
}
#arcade h2,
#arcade p,
#body div#aside h1,
#body div#aside p,
#body div#aside h4,
#body div#aside h3,
#body div#aside h2 {
	padding: 0 22px 0 35px;
}

#body div#aside p {
	line-height: 24px;
	margin: 0 0 25px;
}

#body div#aside span {
	background: url(../images/separator.gif) no-repeat;
	display: block;
	height: 2px;
	margin: 0 0 23px 20px;
	width: 646px;
}

#body div#aside ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#body div#aside ul li {
	position: relative;
}

#body div#aside ul li span {
	background: url(../images/separator.gif) no-repeat;
	bottom: 0;
	position: absolute;
	right: 0;
}

#body div#aside ul li div {
	margin: 0 0 20px 35px;
}

#body div#aside ul li ul{
    margin-bottom:40px;
}

#body div#aside ul li ul li{
    margin-top:0px;
    margin-bottom:-20px;
    margin-left:40px
}

#body div#aside ul li ul li p{
    
    background: url(../images/arrow-grey.jpg) no-repeat left 9px;
    display: block;
	line-height: 24px;
	padding: 0 0 0 15px;
    line-height: 1.5em;
}

/*#body div#aside ul li ul li ul li{
    
    margin-top:0px;
    margin-bottom:0px;
    margin-left:40px
}

#body div#aside ul li ul li ul li p{
    
    background: url(../images/arrow-grey.jpg) no-repeat left 9px;
    display: block;
	line-height: 24px;
	padding: 0 0 0 15px;
    line-height: 1.5em;
}*/

#body div#aside h2 {
	background: url(../images/bg-content-heading.jpg) no-repeat;
	color: #fcfffc;/*fff9fc*/
	font-size: 20px;
	font-weight: normal;
	height: 46px;
	line-height: 39px;
	margin: 0 0 18px;
	text-shadow: 0 1px #58a858; /*e68ca8*/
	width: 643px;
}


#body div#aside h2 a {
	color: #f9fffc;/*fff9fc*/
	display: inline-block;
	text-decoration: none;
}

#body div#aside ul li h2 a:hover,
#body div#aside ul li a.readmore:hover,
#body div#sidebar div h3 a:hover,
#body div#aside div.section div a:hover,
#body div#aside div.section div a.back:hover,
#body div#aside div.section ul li a:hover,
#body div#aside div#section ul li div h5 a:hover {
	color: #1a631a;/*831A3B*/
}

#body div#aside ul li a.readmore {
	color: #59cc80; /*cc5980*/
	font-family: 'SortsMillGoudyItalic';
	display: inline-block;
	padding: 0 0 50px 35px;
	text-decoration: none;
}

#body div#aside ul li span.date {
	background: none;
	display: block;
	color: #a6ffc2;/*ffa6c2*/
	font-family: Arial, Helvetica, sans-serif;
	height: auto;
	font-style: italic;
	line-height: 35px;
	position: absolute;
	right: 40px;
	top: 0;
	width: auto;
}

#body div#aside div#work{
    background: none;
	height: auto;
	margin: 0;
	width: auto;
}

#body div#aside div#work div {
    background: none;
	height: auto;
	margin: auto 0;
	padding: 0 0 0 0px;
	width: 580px;
}

#body div#aside div#work ul {
	margin: 0 auto;
    height: auto;
	width: 580px;
}

#body div#aside div#work ul li {
	float: left;
	margin: 0 0px;
    height: auto;
	width: 190px;
}

#body div#aside div#references{
    background: none;
	height: auto;
	margin: 0;
	width: auto;
}

#body div#aside div#references div {
    background: none;
	height: auto;
	margin: auto 0;
	padding: 0 0 0 0px;
	width: 580px;
}

#body div#aside div#references ul {
	overflow: hidden;
	margin: 0 auto;
	width: 580px;
}

#body div#aside div#references ul li {
	float: left;
	margin: 0 0px;
	width: 190px;
}

#body div#aside div#paging {
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: auto;
	margin: 0;
	text-align: center;
	width: 670px;
}

#body div#aside div#paging span {
	background: none;
	display: inline;
	height: auto;
	margin: 0;
	width: auto;
}

#body div#aside div#paging span a,
#body div#aside div#paging ul li a {
	color: #bfbdbe;
	display: inline;
	text-decoration: none;
}

#body div#aside div#paging span a:hover,
#body div#aside div#paging ul li a:hover {
	color: #807E7F;
}

#body div#aside div#paging ul li a:hover {
	text-decoration: underline;
}

#body div#aside div#paging ul {
	display: inline;
}

#body div#aside div#paging ul li {
	display: inline;
	padding: 0 5px;
}

#body div#aside div.section {
	background: none;
	height: auto;
	margin: 0;
	width: auto;
}

#body div#aside div.section ul {
	/*overflow: hidden;*/
	margin: 0 auto;
	width: 535px;
}

#body div#aside div.section ul li {
	float: left;
	margin: 0 15px;
	width: 146px;
}


#body div#aside div.section ul li img {
	border: 1px solid #c2c3be;
	margin: 0 0 10px;
}

#body div#aside div.section ul li a {
	color: #807E7F;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0 0 5px;
	text-decoration: none;
}

#body div#aside div.section div {
	background: none;
	height: auto;
	margin: 40px auto 0;
	padding: 0 0 0 20px;
	width: 580px;
}

#body div#aside div.section div a {
	background: #e05b86;
	color: #f1d6dd;
	display: inline-block;
	font-family: 'RalewayThin';
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	margin: 0 5px;
	text-align: center;
	text-decoration: none;
	width: 109px;
}

#body div#aside div.section div a.back {
	background: #c2bebf;
	color: #6d696a;
	margin: 0 0 0 220px;
}

#body div#sidebar {	
	float: right;
	width: 240px;
}

#body div#sidebar div {
	background: url(../images/bg-sidebar-bottom.jpg) no-repeat center bottom;
	padding: 0 0 50px;
	width: 246px;
}

#body div#sidebar div div {
	background: #95ff95; /*e9dadf*/
	padding: 13px 13px 0;
	width: 214px;
}

#body div#sidebar div div h3 {
	background: #008002 url(../images/bg-sidebar-heading.gif) no-repeat right top;/*ee7199*/
	color: #fcfffc; /*fffafc*/
	font-size: 18px;
	font-weight: normal;
	height: 28px;
	line-height: 33px;
	margin: 0;
	text-align: center;
	text-shadow: 0 1px #58a858;
	width: 215px;
}

#body div#sidebar div div ul {
	list-style: none;
	margin: 0;
	padding: 20px 0 0 10px;
}

#body div#sidebar div div ul li {
	background: url(../images/arrow.gif) no-repeat left 9px;
	display: block;
	line-height: 24px;
	padding: 0 0 0 15px;
}

/*#body div#sidebar div div ul li:first-child {
	background: url(../images/arrow-down.gif) no-repeat left 8px;
}*/

#body div#sidebar div div ul li a {
	color: #105012;/*533841*//**/
	text-decoration: none;
	text-shadow: 0 1px #c0d0c0; /*fae9ef*/
}

#body div#sidebar div div ul li a:hover {
	text-decoration: underline;
}

#body div#sidebar div div ul li ul {
	padding: 0 0 20px 20px;
}

#body div#sidebar div div ul li ul li,
#body div#sidebar div div ul li ul li:first-child {
	background: url(../images/bullet.gif) no-repeat left 9px;
	padding: 0 0 0 10px;
}

#body div#sidebar form {
	background: #d7d5d6;
	height: 30px;
	margin: 50px 0;
	overflow: hidden;
	width: 240px;
}

#body div#sidebar form input.search {
	background: none;
	border: 0;
	color: #fffeff;
	float: left;
	font-size: 14px;
	height: 28px;
	line-height: 23px;
	margin: 0 0 0 10px;
	width: 185px;
}

#body div#sidebar form input.searchbtn {	
	background: url(../images/icon.gif) no-repeat 0 -208px;
	border: 0;
	cursor: pointer;
	float: left;
	height: 30px;
	width: 30px;
}

#body div#sidebar div#connect {
	background: none;
	padding: 0 0 50px;
	text-align: center;
	width: 240px;
}

#body div#sidebar div#connect span {
	display: block;
	font-size: 20px;
}

#body div#sidebar div#connect a {
	display: inline-block;
	height: 59px;
	line-height: 59px;
	margin: 13px 0 0 28px;
	text-indent: -999999px;
	width: 59px;
}

#body div#sidebar div#connect a#facebook {
	background: url(../images/icon.png) no-repeat 0 0;
	margin: 13px 0 0 0;
}

#body div#sidebar div#connect a#twitter {
	background: url(../images/icon.png) no-repeat 0 -138px;
}

#body div#sidebar div#connect a#linkedin {
	background: url(../images/icon.png) no-repeat 0 -69px;
}

#footer {
	background: #b74b6d url(../images/bg-footer.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 60px;
	width: 100%;
}

#footer p {
	color: #184918;/*791837*/
	margin: 0;
	text-align: center;
}

@font-face {
    font-family: 'SortsMillGoudyRegular';
    src: url('../fonts/sortsmillgoudy-regular-webfont.eot');
    src: url('../fonts/sortsmillgoudy-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sortsmillgoudy-regular-webfont.woff') format('woff'),
         url('../fonts/sortsmillgoudy-regular-webfont.ttf') format('truetype'),
         url('../fonts/sortsmillgoudy-regular-webfont.svg#SortsMillGoudyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SortsMillGoudyItalic';
    src: url('../fonts/sortsmillgoudy-italic-webfont.eot');
    src: url('../fonts/sortsmillgoudy-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sortsmillgoudy-italic-webfont.woff') format('woff'),
         url('../fonts/sortsmillgoudy-italic-webfont.ttf') format('truetype'),
         url('../fonts/sortsmillgoudy-italic-webfont.svg#SortsMillGoudyItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayThin';
    src: url('../fonts/raleway-thin-webfont.eot');
    src: url('../fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-thin-webfont.woff') format('woff'),
         url('../fonts/raleway-thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway-thin-webfont.svg#RalewayThin') format('svg');
    font-weight: normal;
    font-style: normal;
}
